@font-face {
    font-family: 'Sora', 'sans-serif';
    src: url('../fonts/Sora/Sora-Regular.woff') format('woff'),
        url('../fonts/Sora/Sora-Regular.ttf') format('truetype');
}

:root {
    --primary: #3500D3;
    --secondary: #240090;
    --dark: #0C0032;
    --dark-secondary: #190061;
    --body: #1A1A1D;

}

body {
    font-family: Sora, sans-serif;
    line-height: 1.7;
    /* background-color: var(--body) !important; */
}

h1,
h2,
h3,
h4,
h5,
h6,
.display-4 {
    font-weight: 700;
}

a {
    color: var(--dark);
    text-decoration: none;
}

/* Navbar */
.navbar-bg {
    background-image: linear-gradient(rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
}

.navbar .navbar-brand {
    font-size: 20px;
}

.navbar .navbar-brand,
.nav-item {
    font-weight: 700;
}

/* Banner */
.banner-image {
    background-image: url('../img/banner-image.jpeg');
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
    z-index: 2;
}

.banner-image::after {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(6, 0, 26, 0.8);
    z-index: -1;
}

.banner-title {
    font-size: 100px;
    font-weight: 700;
}
/* Content */
.cards img{
    width: 100%;
}

.latest-nft{
    position: relative;
    z-index: 2;
    overflow: hidden;
}

.latest-nft .overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 13px;
    background-color: rgba(6, 0, 26, 0.8);
    /* z-index: -1; */
    padding: 50px;
    display: flex;
    align-items: flex-end;
    transition: all 0.4s ease;
    opacity: 0;
}

.latest-nft img{
    transition: all 0.4s ease;
}

.latest-nft:hover .overlay{
    opacity: 1;
}

/* Footer */
footer{
    background-color: black;
    color: grey;
}