@import "styles.less";
@import "styles.css";

@steps: .750s steps(10, end) infinite;
@width: 1340px;
@animations: Idle, Run, Jump, Slide, Climb, Glide, Attack, Jump_Attack, Throw, Jump_Throw, Dead;

.buttons input {
  margin-left: 15px;
}
.animation{
    width: 134px;
    height: 123.72727273px;
    background: url("../img/ninja.png") left center;
    margin: 15px auto;
  }

  each(@animations, {
    #@{value}:checked ~ .animation{
      animation: @value .750s steps(10, end) infinite;
    }
  });

  @keyframes Idle {
    from{background-position: 0px 0px;}
    to {background-position: -@width 0px;}
  }

  @keyframes Run {
    from{background-position: 0px -123.72px;}
    to {background-position: -@width -123.72px;}
  }

  @keyframes Jump {
    from{background-position: 0px -247.45px;}
    to {background-position: -@width -247.45px;}
  }

  @keyframes Slide {
    from{background-position: 0px -370.90px;}
    to {background-position: -@width -370.90px;}
  }

  @keyframes Climb {
    from{background-position: 0px -494.62px;}
    to {background-position: -@width -494.62px;}
  }

  @keyframes Glide {
    from{background-position: 0px -618.34px;}
    to {background-position: -@width -618.34px;}
  }

  @keyframes Attack {
    from{background-position: 0px -742.06px;}
    to {background-position: -@width -742.06px;}
  }

  @keyframes Jump_Attack {
    from{background-position: 0px -865.78px;}
    to {background-position: -@width -865.72px;}
  }

  @keyframes Throw {
    from{background-position: 0px -989.50px;}
    to {background-position: -@width -989.50px;}
  }

  @keyframes Jump_Throw {
    from{background-position: 0px -1113.22px;}
    to {background-position: -@width -1113.22px;}
  }

  @keyframes Dead {
    from{background-position: 0px -1236.94px;}
    to {background-position: -@width -1236.94px;}
  }